@font-face {
    font-family: 'Mj flow';
    src: url('../fonts/Mj flow.ttf') format('truetype');
}

@font-face {
    font-family: 'Mostwasted';
    src: url('../fonts/most-wasted/Mostwasted.ttf') format('truetype');
}


/*=======================================================*/

body {
    padding: 0;
    margin: 0;
    background-color: rgb(217, 6, 0);
}

#title {
    position: fixed;
    top: 30px;
    right: -20px;
    width: 329px;
    height: 220px;
    font-family: Mostwasted;
    font-size: 65px;
    z-index: -100;
    text-align: center;
}

#savage {
    position: fixed;
    bottom: 0;
    right: -60px;
    z-index: -100;
    width: 400px;
    height: 711px;
    background: url('../pic/new-material-design.jpg') no-repeat;
}


/*=======================================================*/

.fix {
    position: fixed;
    left: 0;
    top: 0;
    width: 100px;
    height: 100%;
    background: rgba(30, 30, 30, 0.715);
    color: white;
    font-size: 50px;
    text-align: center;
}

    .fix > .menu:hover {
        transition: 0.3s;
        cursor: pointer;
        color: red;
    }

    .fix > .menu {
        transition: 0.3s;
        /*border-bottom: 1px solid #ddd;*/
        height: 60px;
        font-family: 'Segoe UI';
        font-size: 23px;
        line-height: 53px;
        margin-bottom: 10px;
    }

        .fix > .menu:nth-child(5) {
            margin-bottom: 50px;
        }

        .fix > .menu:nth-child(1) {
            margin-top: 10px;
        }

    .fix > .icon:hover {
        cursor: pointer;
        transition: 0.3s;
        transform: scale(1.2);
    }

    .fix > .icon {
        transition: 0.3s;
        border-bottom: 1px solid #ddd;
        height: 80px;
        background-size: 60px;
        background-repeat: no-repeat;
        background-position: 50% center;
        border: 0 none;
    }

    .fix > .ic1 {
        background-image: url('../pic/1200px-ITunes_logo.svg.png');
    }

    .fix > .ic2 {
        background-image: url('../pic/deezer-logo-circle.png');
    }

    .fix > .ic3 {
        background-image: url('../pic/main.png');
    }

    .fix > .ic4 {
        background-image: url('../pic/unnamed.png');
    }

    .fix > .ic5 {
        background-image: url('../pic/nexus2cee_iheart-radio-round-icon.png');
    }

    .fix > #sixitem:hover {
        transition: 0.3s;
        cursor: pointer;
        color: orange;
    }

    .fix > #sixitem {
        margin-top: 10px;
        font-family: 'Segoe UI';
        font-size: 14px;
        font-weight: bold;
    }

    .fix > #detailview:hover {
        transition: 0.3s;
        cursor: pointer;
        color: orange;
    }

    .fix > #detailview {
        margin-top: 10px;
        font-family: 'Segoe UI';
        font-size: 14px;
        font-weight: bold;
    }


/*=======================================================*/

#head {
    width: 350px;
    margin: 70px auto 60px auto;
    font-family: 'Verdana Pro';
    font-size: 39px;
    text-align: center;
    color: #fff;
    font-weight: 400;
    background: rgba(30, 30, 30, 0.715);
    border-radius: 6px;
    line-height: 50px;
    height: 60px;
}

#all {
    border-radius: 6px;
    margin: 0 auto 100px auto;
    width: 1320px;
    padding: 20px 20px;
    padding-right: 20px;
    background: rgba(30, 30, 30, 0.608);
    overflow: hidden;
    position: relative;
}





    /*=======================================================*/

    #all > .items:hover {
        transition: 0.3s;
        cursor: pointer;
        background: rgba(50, 50, 250, 0.6);
        transform: translateY(-15px);
    }

    #all > .items {
        transition: 0.3s;
        overflow: hidden;
        /*background:rgb(128, 128, 128);*/
        width: 200px;
        border-radius: 6px;
        background: rgba(255, 255, 255, 0.708);
        /*border: 1px solid rgba(62, 155, 203, 0.96);*/
        margin: 10px;
        /*width: 150px;*/
        padding: 4px 0 10px 0;
        float: left;
        position: relative;
    }



        #all > .items > .detail {
            transition: 0;
            overflow: hidden;
            width: 0;
            height: 0;
            padding: 5px 10px;
        }

        #all > .items:hover > .detail > .deshead {
            transition: 0.3s;
            color: white;
        }

        #all > .items > .detail > .deshead {
            transition: 0.3s;
            height: 30px;
            font-family: 'Segoe UI';
            font-size: 20px;
            border-bottom: 1px solid #aaa;
            margin-top: 30px;
        }

        #all > .items:hover > .detail > .note {
            transition: 0.3s;
            color: white;
        }

        #all > .items > .detail > .note {
            transition: 0.3s;
            height: 240px;
            font-family: 'Segoe UI';
            font-size: 15px;
            margin-top: 10px;
        }

        #all > .items:hover > .language {
            transition: 0.3s;
            transform: rotate(-45deg) translateY(-55px);
        }

        #all > .items > .language {
            text-align: center;
            transition: 0.3s;
            position: absolute;
            height: 100px;
            width: 100px;
            top: -51px;
            left: -51px;
            background: rgba(30, 30, 30, 0.715);
            z-index: 100;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            line-height: 170px;
            font-size: 20px;
            font-weight: bold;
            color: #fff;
            transform: rotate(-45deg) translateY(-9px);
            box-shadow: 0 0 10px 5px #000;
        }

        #all > .items:hover > img {
            transition: 0.3s;
            border-radius: 6px;
        }

        #all > .items > img {
            display: inline-block;
            margin: -10px 0 0 4px;
            transition: 0.3s;
            width: 190px;
            border: 1px solid rgba(255, 255, 255, 0);
            border-radius: 50%;
        }

        #all > .items > h2 {
            height: 28px;
            background: red;
            color: #fff;
            font-family: Segoe UI;
            font-size: 21px;
            margin: 5px auto 5px;
            line-height: 22px;
            font-weight: normal;
            text-align: center;
            /*width: 95%;
            border-radius: 6px;*/
        }

        #all > .items:hover > a {
            color: white;
            transition: 0.3s;
            /*border-bottom: 2px solid black;*/
        }

        #all > .items > a {
            text-align: center;
            display: inline-block;
            width: 200px;
            margin-top: 5px;
            transition: 0.3s;
            text-decoration: none;
            font-family: Segoe UI;
            font-size: 20px;
            color: black;
        }

        #all > .items:hover > .price {
            color: white;
            transition: 0.3s;
            /*border-bottom: 2px solid black;*/
        }

        #all > .items > .price {
            transition: 0.3s;
            display: inline-block;
            height: 25px;
            font-size: 20px;
            margin-top: 5px;
        }

        #all > .items > .star {
            background: url('../pic/star.png') repeat-x;
            background-size: 25px;
            margin: 5px auto;
            height: 25px;
        }


    /*===============================================================*/

    #all.view2 > .items {
        transition: 0;
        width: 420px;
    }

        #all.view2 > .items > .detail {
            transition: 0.3s;
            width: 45%;
            height: 310px;
            float: right;
        }

        #all.view2 > .items > img {
            display: inline-block;
            margin: 0px 0 0 4px;
        }

        #all.view2 > .items > h2 {
            width: 190px;
            margin: 5px 0 5px 4px;
            text-align: center;
        }

        #all.view2 > .items > a {
            margin: 5px 0 0 4px;
            width: 195px;
            text-align: center;
        }

        #all.view2 > .items > .star {
            margin: 26px auto 0 auto;
        }
